.screen
  padding: 0 .5em
  margin: 0 .3em
  border-radius: 5px
  background-color: #252c2f
  filter: none
  display: inline-flex
  align-items: baseline
  color: white
  height: 38px

.text, .small-text
  line-height: 38px

.text
  font-size: 30px

.small-text
  margin-left: 3px
  font-size: 11px