@import url('https://fonts.googleapis.com/icon?family=Material+Icons')

html
    overflow: hidden

body
    font-family: system-ui, sans-serif

.center--vertial
    display: flex
    flex-direction: column
    justify-content: center
